Package: com.mireknguyen.ytmngtweaks
Name: YTMNGTweaks
Version: 2.7.0
Architecture: iphoneos-arm
Description: Personal YouTube tweaks: native tab bar with search button, native search, Liquid Glass, glass header, channel tab hiding.
Maintainer: MirekNguyen
Author: MirekNguyen
Section: Tweaks
Depends: mobilesubstrate
