Package: com.mireknguyen.ytmngtweaks
Name: YTMNGTweaks
Version: 1.2.0
Architecture: iphoneos-arm
Description: Personal YouTube tweaks. Hides channel page tabs (Live, Shorts, ...) with a Settings toggle.
Maintainer: MirekNguyen
Author: MirekNguyen
Section: Tweaks
Depends: mobilesubstrate
